<div class="modal fade" id="logrecordmodal" tabindex="-1" role="dialog" aria-labelledby="Details" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="logrecordmodalLongTitle">Log Record</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="title">Field</th>
                      <th class="title">Value</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>args</td>
                      <td id="logmodalargs">...</td>
                    </tr>
                    <tr>
                      <td>asctime</td>
                      <td id="logmodalasctime">...</td>
                    </tr>
                    <tr>
                      <td>levelname</td>
                      <td id="logmodallevelname">...</td>
                    </tr>
                    <tr>
                      <td>levelno</td>
                      <td id="logmodallevelno">...</td>
                    </tr>
                    <tr>
                      <td>exc_info</td>
                      <td id="logmodalexc_info">...</td>
                    </tr>
                    <tr>
                      <td>lineno</td>
                      <td id="logmodallineno">...</td>
                    </tr>
                    <tr>
                      <td>message</td>
                      <td id="logmodalmessage">...</td>
                    </tr>
                    <tr>
                      <td>module</td>
                      <td id="logmodalmodule">...</td>
                    </tr>
                    <tr>
                      <td>msecs</td>
                      <td id="logmodalmsecs">...</td>
                    </tr>
                    <tr>
                      <td>msg</td>
                      <td id="logmodalmsg">...</td>
                    </tr>
                    <tr>
                      <td>name</td>
                      <td id="logmodalname">...</td>
                    </tr>
                    <tr>
                      <td>filename</td>
                      <td id="logmodalfilename">...</td>
                    </tr>
                    <tr>
                      <td>funcName</td>
                      <td id="logmodalfuncName">...</td>
                    </tr>
                    <tr>
                      <td>pathname</td>
                      <td id="logmodalpathname">...</td>
                    </tr>
                    <tr>
                      <td>thread</td>
                      <td id="logmodalthread">...</td>
                    </tr>
                    <tr>
                      <td>threadName</td>
                      <td id="logmodalthreadName">...</td>
                    </tr>
                    <tr>
                      <td>process</td>
                      <td id="logmodalprocess">...</td>
                    </tr>
                    <tr>
                      <td>processName</td>
                      <td id="logmodalprocessName">...</td>
                    </tr>
                    <tr>
                      <td>relativeCreated</td>
                      <td id="logmodalrelativeCreated">...</td>
                    </tr>
                    <tr>
                      <td>stack_info</td>
                      <td id="logmodalstack_info">...</td>
                    </tr>
                  </tbody>
                </table>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>