<!-- base:js -->
<script src="{{url_for('static', filename='vendors/base/vendor.bundle.base.js')}}"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="{{url_for('static', filename='js/off-canvas.js')}}"></script>
<script src="{{url_for('static', filename='js/hoverable-collapse.js')}}"></script>
<script src="{{url_for('static', filename='js/template.js')}}"></script>
<!-- endinject -->
<!-- plugin js for this page -->
<script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
<script src="{{url_for('static', filename='vendors/chart.js/Chart.min.js')}}"></script>
<script src="{{url_for('static', filename='vendors/jquery-bar-rating/jquery.barrating.min.js')}}"></script>
<!-- End plugin js for this page -->
<script src="{{url_for('static', filename='js/dashboard.js')}}"></script>
<script src="{{url_for('static', filename='vendors/typeahead.js/typeahead.bundle.min.js')}}"></script>
<script src="{{url_for('static', filename='vendors/select2/select2.min.js')}}"></script>
<script src="{{url_for('static', filename='js/file-upload.js')}}"></script>
<script src="{{url_for('static', filename='js/typeahead.js')}}"></script>
<script src="{{url_for('static', filename='js/select2.js')}}"></script>
<script src="{{url_for('static', filename='js/socket.io.js')}}"></script>  
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>