<head>
    <!-- Required meta tags --> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MX Logging</title>
    <!-- base:css -->
    <link rel="stylesheet" href="{{url_for('static', filename='vendors/mdi/css/materialdesignicons.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='vendors/feather/feather.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='vendors/base/vendor.bundle.base.css')}}">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="{{url_for('static', filename='vendors/flag-icon-css/css/flag-icon.min.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='vendors/font-awesome/css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='vendors/jquery-bar-rating/fontawesome-stars-o.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='vendors/jquery-bar-rating/fontawesome-stars.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='vendors/select2/select2.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='vendors/select2-bootstrap-theme/select2-bootstrap.min.css')}}">
    <!-- inject:css -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <!-- endinject -->
    <link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.ico')}}" />
</head>